.Instruction {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.Instruction * {
    margin-bottom: 0;
}

.Instruction textarea {
    width: 87%;
    padding-right: 45px;
    outline: none;
    border: none;
    background-color: var(--light);
}

.Instruction textarea:disabled {
    background-color: white;
}

.Instruction * {
    margin-bottom: 0;
}

.Instruction:not(:last-child) {
    border-bottom: 1px solid #ced4da;
}

.Step {
    position: absolute;
    top: 0;
    left: 16px;
    font-weight: bold;
    font-size: large;
}

.Bullet {
    margin-left: 8px;
    margin-right: 8px;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid var(--yellow);
    border-radius: 4px;
    position: relative;
}

.Bullet:hover {
    cursor: pointer;
    box-sizing: border-box;
    border: 2px solid var(--yellow);
}

.Selected {
    visibility: visible !important;
}

.Selected:not(.Delete):after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #B3730C;
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
} 

.Delete {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0.4rem;
    right: 0.4rem;
    border-radius: 20px;
    background-image: url("../../../../assets/delete.svg");
    cursor: pointer;
    visibility: hidden;
}