.Menu {
    width: 115px;
    background-color: white;
    position: absolute;
    top: 38px;
    z-index: 2;
}

.Menu ul {
    padding: 0;
    margin: 0;
}

.Menu li {
    display: flex;
    align-items: center;
    height: 38px;
    list-style: none;
    border: 1px solid #ced4da;
    padding-left: 4px;
    margin: -1px;
    cursor: pointer;
}

.Menu li:hover {
    background-color: var(--light);
}

.Close {
    display: none;
}