.NavigationItem {
    padding: 0 24px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
}

.NavigationItem:last-child {
    position: absolute;
    right: 0;
}

.NavigationItem:hover {
    color: var(--green);
}

@media (max-width: 768px) {
    .NavigationItem:last-child {
        position: static;
    }
    .NavigationItem {
        display: flex;
        width: 100%;
        text-align: left;
        padding-bottom: 8px;
    }
}