.NavigationItem {
    padding: 0 24px;
    margin: 0;
    display: inline-block;
    cursor: pointer;
    color: var(--white);
}

a {
    color: var(--white);
    display: block;
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.NavigationItem:last-child {
    position: absolute;
    right: 0;
}

.NavigationItem:hover * {
    color: var(--green);
}

.active {
    color: var(--green);
}

@media (max-width: 768px) {
    .NavigationItem:last-child {
        position: static;
    }
    .NavigationItem {
        width: 100%;
        text-align: left;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}