.NewRecipe {

}

.FormGroup {
    min-width: 540px;
    position: relative;
}

.Add {
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-color: transparent;
    border: none;
    outline: none;
}

.MainContent {
    display: flex;
    justify-content: space-evenly;
}

.NewRecipe h1::after {
    content: "";
    display: block;
    margin: 16px auto;
    width: 85%;
    border-bottom: 2px solid var(--primary);
    border-radius: 24px;
}

.Info {
    display: flex;
    flex-direction: column;
}

.Display {
}

@media (max-width: 1150px) {
    .MainContent {
        flex-direction: column;
    }

    .FormGroup {
        max-width: 300px;
        margin: 0 auto;
    }
}

@media (max-width: 568px) {
    .FormGroup {
        min-width: 100%;
    }
}