.NewRecipe {

}

.MainContent {
    display: flex;
    justify-content: space-evenly;
    padding-left: 156px;
    padding-right: 156px;
}

.NewRecipe h1::after {
    content: "";
    display: block;
    margin: 16px auto;
    width: 85%;
    border-bottom: 2px solid var(--primary);
    border-radius: 24px;
}

.Info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.Display {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    min-width: 540px;
}

.Mid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.RecipeIcons {
    margin: 0 auto;
}

.VisibilityRadioGroup {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1425px) {
    .MainContent {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 568px) {
    .MainContent {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .Info, .Display {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .Mid {
        flex-direction: column;
    }

    .Mid > div {
        margin-bottom: 1rem;
    }
}
