.NewRecipe {

}

.MainContent {
    display: flex;
    justify-content: space-between;
    padding-left: 156px;
    padding-right: 156px;
}

.NewRecipe h1::after {
    content: "";
    display: block;
    margin: 16px auto;
    width: 85%;
    border-bottom: 2px solid var(--primary);
    border-radius: 24px;
}

.Info {
    display: flex;
    flex-direction: column;
}

.Display {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1425px) {
    .MainContent {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 568px) {
    .MainContent {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .Info, .Display {
        width: 100%;
    }
}
