.Home {

}

.Home::after {
    content: "";
    display: block;
    margin: 16px auto;
    width: 80%;
    border-bottom: 2px solid var(--primary);
    border-radius: 24px;
}

h1 {
    text-align: center;
    padding: 16px 0;
}