.NumPicker {
}

.NumPicker .Wrapper {
    width: 115px;
    height: 38px;
    border: 1px solid #ced4da;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.NumPicker button {
    outline: none;
    background-color: transparent;
    border: none;
    width: 35px;
}

.NumPicker input {
    text-align: center;
    margin: 0 auto;
}

.Amount {
    pointer-events: none;
}