.Servings {
}

.Servings .Wrapper {
    width: 115px;
    height: 38px;
    border: 1px solid #ced4da;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.Servings button {
    outline: none;
    background-color: transparent;
    border: none;
    width: 35px;
}

.Servings input {
    text-align: center;
    margin: 0 auto;
}

.Amount {
    pointer-events: none;
}

@media (max-width: 568px) {
    .Servings {
        width: 100%;
    }
}