.Search {
    display: flex;
    height: fit-content;
    justify-content: center;
}

.Search input {
    border-radius: 1rem;
}

.SearchIcon {
    position: absolute;
    top: 3px;
    right: 8px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}