.Ingredients {
    padding: 0 1rem;
    width: 520px;
    margin-bottom: 1rem;
}

.List {
    border: 1px solid #ced4da;
    max-height: 92px;
    overflow-y: auto;
}

.Label {
    font-size: 1rem;
    margin-bottom: 0.25rem;
}

@media (max-width: 568px) {
    .Ingredients {
        width: 100%;
    }
}